{% extends 'one-up.html' %}

{% block title %}{{ super() }} / Images{% endblock %}

{% block main_content %}
    <div class="row pt-3">
        <div class="col-12">
            <h1 class="text-light">Images</h1>
            <div class="form-inline">
                <div class="form-group mr-2">
                    <label class="sr-only" for="filter-input"></label>
                    <input class="form-control" placeholder="Filter images..." id="filter-input" autofocus>
                </div>
                {% if 'admin' in g.permissions %}
                    <div class="form-group">
                        <a class="btn btn-outline-light" href="{{ url_for('images_trash') }}">View trash</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            <table class="table table-dark table-striped table-sm d-none d-sm-block">
                <thead>
                <tr>
                    <th>Cloud</th>
                    {% if g.settings.show_account_for_images %}
                        <th>Account</th>
                    {% endif %}
                    <th>Region</th>
                    <th class="max-width-600px">Image name</th>
                    <th>Owner</th>
                    <th class="min-width-115px">Created</th>
                    <th class="text-right min-width-115px">
                        30 day cost
                        <span class="badge badge-secondary" role="button" data-toggle="popover" data-container="body"
                              data-placement="bottom" data-content="Cost of an image includes all snapshots registered for that image">
                            <span class="oi oi-info"></span>
                        </span>
                    </th>
                    {% if not g.settings.show_all_images %}<th>Public</th>{% endif %}
                    <th>State</th>
                    <th>Source machine ID</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for i in g.images %}
                    <tr class="filter-candidate collapse show {{ 'text-decoration-line-through' if i.delete_requested }}"
                        data-filter-value="{{ i.filter_value }}">
                        <td>{{ i.cloud }}</td>
                        {% if g.settings.show_account_for_images %}
                            <td>{{ i.description }}</td>
                        {% endif %}
                        <td>{{ i.region }}</td>
                        <td>
                            <span class="badge badge-secondary" role="button" data-toggle="popover" data-html="true"
                                  data-container="body" data-placement="bottom"
                                  data-content="ID: {{ i.id }}<br>Name: {{ i.name }}<br>Account: {{ i.description }}">
                                <span class="oi oi-info"></span>
                            </span>
                            {{ i.truncated_name }}
                        </td>
                        <td>{{ i.owner }}</td>
                        <td>{{ i.created.date() if i.created }}</td>
                        <td class="text-right">{{ i.cost }}</td>
                        {% if not g.settings.show_all_images %}
                            <td class="text-center">{% if i.public %}<span class="oi oi-check"></span>{% endif %}</td>
                        {% endif %}
                        <td>{{ i.state }}</td>
                        <td class="text-truncate">{{ i.instanceid if i.instanceid.startswith('i-') }}</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-outline-light" data-toggle="modal"
                                        data-target="#modal-image-launch" data-image-id="{{ i.id }}"
                                        data-name="{{ i.name }}" title="Launch image"
                                        {{ 'disabled' if not i.can_launch }}>
                                    <span class="oi oi-media-play"></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-light" data-toggle="modal"
                                        data-target="#modal-image-edit" data-image-id="{{ i.id }}"
                                        data-image-name="{{ i.name }}" data-image-owner="{{ i.owner }}"
                                        data-image-public="{{ 'true' if i.public }}" title="Edit image"
                                        {{ 'disabled' if not i.can_modify }}>
                                    <span class="oi oi-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-light" data-toggle="modal"
                                        data-target="#modal-image-delete" data-image-id="{{ i.id }}"
                                        data-image-name="{{ i.name }}" title="Delete image"
                                        {{ 'disabled' if not i.can_modify }}>
                                    <span class="oi oi-trash"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="d-block d-sm-none">
            {% for i in g.images %}
                <div class="card text-light bg-dark border-light mb-2 filter-candidate collapse show"
                     data-filter-value="{{ i.filter_value }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ i.name }}
                            {% if i.public %}<span class="badge badge-success">public</span>{% endif %}
                        </h5>
                        <p class="card-text">
                            <span class="badge badge-light">Cloud: {{ i.cloud }}</span>
                            <span class="badge badge-light">Account: {{ i.description }}</span>
                            <span class="badge badge-light">Region: {{ i.region }}</span>
                            <span class="badge badge-light">Owner: {{ i.owner }}</span>
                            <span class="badge badge-light">Created: {{ i.created.date() if i.created }}</span>
                            <span class="badge badge-light">State: {{ i.state }}</span>
                            <span class="badge badge-light">Source machine ID: {{ i.instanceid if i.instanceid.startswith('i-') }}</span>
                        </p>
                        <button type="button" class="btn btn-outline-light mb-2" data-toggle="modal"
                                data-target="#modal-image-launch" data-image-id="{{ i.id }}" data-name="{{ i.name }}"
                                {{ 'disabled' if not i.can_launch }}>
                            <span class="oi oi-media-play"></span>
                            Launch image
                        </button>
                        <button type="button" class="btn btn-outline-light mb-2" data-toggle="modal"
                                data-target="#modal-image-edit" data-image-id="{{ i.id }}"
                                data-image-name="{{ i.name }}" data-image-owner="{{ i.owner }}"
                                data-image-public="{{ 'true' if i.public }}" {{ 'disabled' if not i.can_modify }}>
                            <span class="oi oi-pencil"></span>
                            Edit image
                        </button>
                        <button type="button" class="btn btn-outline-light mb-2" data-toggle="modal"
                                data-target="#modal-image-delete" data-image-id="{{ i.id }}"
                                data-image-name="{{ i.name }}" {{ 'disabled' if not i.can_modify }}>
                            <span class="oi oi-trash"></span>
                            Delete image
                        </button>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>

    <div class="modal" id="modal-image-launch">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-light">Launch image</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p class="text-light">Do you want to launch a new machine from this image?</p>
                    <form id="form-image-launch" action="{{ url_for('machine_create')}}" method="post">
                        <input type="hidden" name="image-id" id="form-image-launch-image-id">
                        <div class="form-group">
                            <label for="form-image-launch-name" class="text-light">New machine name</label>
                            <input type="text" class="form-control" id="form-image-launch-name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="form-image-launch-owner" class="text-light">Owner</label>
                            <input type="text" class="form-control" id="form-image-launch-owner" name="owner" value="{{ g.email }}" required>
                        </div>
                        <div class="form-group">
                            <label for="form-image-launch-environment" class="text-light">Environment</label>
                            <input type="text" class="form-control" id="form-image-launch-environment" name="environment" value="{{ g.default_environment }}" list="environment-list" required>
                            <small class="form-text text-muted">Add this machine to an existing environment or specify a new environment name.</small>
                        </div>
                        <div class="form-group">
                            <label for="form-image-vpc" class="text-light">VPC</label>
                            <select id="vpc" name="vpc" class="form-control">
                              <option value="Default" title="Copy network and sizing specs from the existing instance if it exists">Default</option>
                              <option value="MdmDemo" title = "MDM network space intended only for MDM team usage">MDM Demo</option>
                              <option value="PresalesDemo" title="Standard network space for presales demo environments">Presales Demo</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-success" form="form-image-launch">Launch</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-image-edit">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-light">Edit image</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" >&times;</button>
                </div>
                <div class="modal-body">
                    <form id="form-image-edit" action="{{ url_for('images_edit')}}" method="post">
                        <input type="hidden" name="image-id" id="form-image-edit-image-id">
                        <div class="form-group">
                            <label for="form-image-edit-name" class="text-light">Image name</label>
                            <input type="text" class="form-control" id="form-image-edit-name" name="image-name" required>
                        </div>
                        <div class="form-group">
                            <label for="form-image-edit-owner" class="text-light">Owner</label>
                            <input type="text" class="form-control" id="form-image-edit-owner" name="owner" required>
                        </div>
                        <div class="form-group form-check {{ 'collapse' if g.settings.show_all_images }}">
                            <input type="checkbox" class="form-check-input" id="form-image-edit-public" name="public">
                            <label for="form-image-edit-public" class="form-check-label text-light">Allow any user to launch a machine from this image</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-success" form="form-image-edit">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-image-delete">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Delete image</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the image
                        <strong><span id="modal-image-delete-image-name"></span></strong>?</p>
                </div>
                <div class="modal-footer">
                    <form id="form-image-delete" action="{{ url_for('images_delete') }}" method="post">
                        <input type="hidden" name="image-id" id="form-image-delete-image-id">
                        <input type="hidden" name="next-view" value="images">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <datalist id="environment-list">
        {% for e in g.environments %}<option value="{{ e }}">{% endfor %}
    </datalist>
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='images.js') }}"></script>
    <script src="{{ url_for('static', filename='enable-popover.js') }}"></script>
{% endblock %}
