{% extends 'admin/index.html' %}

{% set active_tab = 'cloud-credentials' %}

{% block admin_content %}
    <div class="row pt-3">
        <div class="col-12">
            <button type="button" class="btn btn-outline-success" data-target="#modal-cloud-credentials"
                    data-toggle="modal" data-id="" data-description="" data-username="" data-azure-tenant-id="">
                <span class="oi oi-plus"></span>
                Add credentials
            </button>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
        {% if g.cloud_credentials %}
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th>Cloud</th>
                    <th>Description</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Azure tenant ID</th>
                </tr>
                </thead>
                <tbody>
                {% for c in g.cloud_credentials %}
                    <tr role="button" data-id="{{ c.id }}" data-cloud="{{ c.cloud }}"
                        data-description="{{ c.description }}" data-username="{{ c.username }}"
                        data-azure-tenant-id="{{ c.azure_tenant_id if c.azure_tenant_id }}"
                        data-toggle="modal" data-target="#modal-cloud-credentials">
                        <td>{{ c.cloud }}</td>
                        <td>{{ c.description }}</td>
                        <td>{{ c.username }}</td>
                        <td><span class="oi oi-ellipses"></span></td>
                        <td>{{ c.azure_tenant_id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-light">Cloud credentials have not been configured yet.</p>
        {% endif %}
        </div>
    </div>

    <div class="modal fade" id="modal-cloud-credentials">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Cloud credentials</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="form-cloud-credentials" action="{{ url_for('admin_cloud_credentials_edit') }}" method="post">
                        <input type="hidden" name="id" id="cloud-credentials-id">
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input cloud-radio" id="radio-cloud-aws" name="cloud" value="aws"
                                       data-username-label="Access key ID" data-password-label="Secret access key" required>
                                <label class="custom-control-label" for="radio-cloud-aws">AWS</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input cloud-radio" id="radio-cloud-az" name="cloud" value="az"
                                       data-username-label="Service principal ID" data-password-label="Service principal password" required>
                                <label class="custom-control-label" for="radio-cloud-az">Azure</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input cloud-radio" id="radio-cloud-gcp" name="cloud" value="gcp"
                                       data-username-label="Project ID" data-password-label="Service account info" required>
                                <label class="custom-control-label" for="radio-cloud-gcp">GCP</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cloud-credential-description">Description</label>
                            <input type="text" class="form-control" id="cloud-credential-description" name="description" required>
                        </div>
                        <div class="form-group">
                            <label for="cloud-credential-username" id="username-label">Username</label>
                            <input type="text" class="form-control" id="cloud-credential-username" name="username" required>
                        </div>
                        <div class="form-group collapse show" id="div-set-password">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox-set-password" name="set-password">
                                <label class="custom-control-label" for="checkbox-set-password">Set <span class="password-label">password</span></label>
                            </div>
                        </div>
                        <div class="form-group collapse show" id="div-password">
                            <label for="cloud-credential-password" class="password-label">Password</label>
                            <input type="password" class="form-control" id="cloud-credential-password" name="password" autocomplete="off">
                        </div>
                        <div class="form-group collapse show" id="div-azure-tenant-id">
                            <label for="cloud-credential-azure-tenant-id">Azure tenant ID</label>
                            <input type="text" class="form-control" id="cloud-credential-azure-tenant-id" name="azure_tenant_id">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-danger collapse show" id="cloud-credential-delete-button"
                            form="form-cloud-credentials" formaction="{{ url_for('admin_cloud_credentials_delete') }}">
                        Delete
                    </button>
                    <button type="submit" class="btn btn-outline-success" form="form-cloud-credentials">Save</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='admin-cloud-credentials.js') }}"></script>
{% endblock %}
