{% extends 'admin/index.html' %}

{% set active_tab = 'settings' %}

{% block admin_content %}
    <div class="row pt-3">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6 text-light">

            <div class="card bg-dark border-light mb-3">
                <h5 class="card-header">
                    <a class="text-decoration-none text-light" href="#cost-data-form" data-toggle="collapse">Cloudability integration</a>
                </h5>
                <div class="card-body collapse" id="cost-data-form">
                    <form action="{{ url_for('admin_settings_cost_data') }}" method="post">
                        <div class="form-group">
                            <label for="cloudability-auth-token">Cloudability auth token</label>
                            <input type="text" class="form-control" id="cloudability-auth-token" name="cloudability-auth-token"
                                   value="{{ g.settings.cloudability_auth_token }}">
                        </div>
                        <div class="form-group">
                            <label for="cloudability-vendor-account-ids">Cloudability vendor account IDs</label>
                            <textarea class="form-control" id="cloudability-vendor-account-ids" name="cloudability-vendor-account-ids">
                                {{- ' '.join(g.settings.cloudability_vendor_account_ids) -}}
                            </textarea>
                            <small class="form-text text-muted">Separate multiple account IDs with a space</small>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Save</button>
                        <button type="submit" class="btn btn-outline-info" formaction="{{ url_for('admin_cost_data_sync') }}">
                            Sync now
                        </button>
                    </form>
                </div>
            </div>

            <div class="card bg-dark border-light mb-3">
                <h5 class="card-header">
                    <a class="text-decoration-none text-light" href="#display-form" data-toggle="collapse">Display settings</a>
                </h5>
                <div class="card-body collapse" id="display-form">
                    <form action="{{ url_for('admin_settings_display') }}" method="post">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="show-account-for-images"
                                       name="show-account-for-images" {{ 'checked' if g.settings.show_account_for_images }}>
                                <label class="custom-control-label" for="show-account-for-images">Show cloud account information on Images page</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="show-all-images"
                                       name="show-all-images" {{ 'checked' if g.settings.show_all_images }}>
                                <label class="custom-control-label" for="show-all-images">Allow all users to see all images</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="image-name-display-length">Maximum number of characters to display in image names</label>
                            <input type="number" class="form-control" id="image-name-display-length" name="image-name-display-length"
                                   min="10" max="255" step="1" required value="{{ g.settings.image_name_display_length }}">
                            <small class="form-text text-muted">
                                Must be a number between 10 and 255.
                                The longest image name currently in the database has {{ g.current_image_name_max_length }} characters.
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="app-env-values">Application environment choices</label>
                            <textarea class="form-control" id="app-env-values" name="app-env-values" rows="10">
                                {{- '\n'.join(g.settings.app_env_values) -}}
                            </textarea>
                            <small class="form-text text-muted">Each choice must be on a separate line</small>
                        </div>
                        <div class="form-group">
                            <label>Show the following tools on the home page</label>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="show-monolith-request-link"
                                       name="show-monolith-request-link" {{ 'checked' if g.settings.show_monolith_request_link }}>
                                <label class="custom-control-label" for="show-monolith-request-link">Monolith request</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="show-op-debrief-survey-link"
                                       name="show-op-debrief-survey-link" {{ 'checked' if g.settings.show_op_debrief_survey_link }}>
                                <label class="custom-control-label" for="show-op-debrief-survey-link">Opportunity debrief surveys</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="show-sc-assignments-link"
                                       name="show-sc-assignments-link" {{ 'checked' if g.settings.show_sc_assignments_link }}>
                                <label class="custom-control-label" for="show-sc-assignments-link">Sales Consultant assignments</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="show-sap-access-link"
                                       name="show-sap-access-link" {{ 'checked' if g.settings.show_sap_access_link }}>
                                <label class="custom-control-label" for="show-sap-access-link">SAP access</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="show-sc-competency-link"
                                       name="show-sc-competency-link" {{ 'checked' if g.settings.show_sc_competency_link }}>
                                <label class="custom-control-label" for="show-sc-competency-link">SC Competency</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="show-security-groups-link"
                                       name="show-security-groups-link" {{ 'checked' if g.settings.show_security_groups_link }}>
                                <label class="custom-control-label" for="show-security-groups-link">Security groups</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-success">Save</button>
                    </form>
                </div>
            </div>

            <div class="card bg-dark border-light mb-3">
                <h5 class="card-header">
                    <a class="text-decoration-none text-light" href="#scheduled-tasks-form" data-toggle="collapse">Scheduled tasks</a>
                </h5>
                <div class="card-body collapse" id="scheduled-tasks-form">
                    <form action="{{ url_for('admin_settings_tasks') }}" method="post">
                        <div class="form-group">
                            <label>Activate the following scheduled tasks</label>
                        {% for task in g.tasks %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{ task.task_name }}"
                                       name="{{ task.task_name }}" {{ 'checked' if task.task_active }}>
                                <label class="custom-control-label" for="{{ task.task_name }}">{{ task.task_name }}</label>
                            </div>
                        {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-outline-success">Save</button>
                    </form>
                </div>
            </div>

            <div class="card bg-dark border-light mb-3">
                <h5 class="card-header">
                    <a class="text-decoration-none text-light" href="#zendesk-integration-form" data-toggle="collapse">Zendesk integration</a>
                </h5>
                <div class="card-body collapse" id="zendesk-integration-form">
                    <form action="{{ url_for('admin_settings_zendesk') }}" method="post">
                        <div class="form-group">
                            <label for="zendesk-company">Zendesk company</label>
                            <input type="text" class="form-control" id="zendesk-company" name="zendesk-company"
                                   value="{{ g.settings.zendesk_company }}">
                        </div>
                        <div class="form-group">
                            <label for="zendesk-email-address">Zendesk email address</label>
                            <input type="text" class="form-control" id="zendesk-email-address" name="zendesk-email-address"
                                   value="{{ g.settings.zendesk_email_address }}">
                        </div>
                        <div class="form-group">
                            <label for="zendesk-api-token">Zendesk API token</label>
                            <input type="text" class="form-control" id="zendesk-api-token" name="zendesk-api-token"
                                   value="{{ g.settings.zendesk_api_token }}">
                        </div>
                        <div class="form-group">
                            <label for="zendesk-widget-key">Zendesk widget key</label>
                            <input type="text" class="form-control" id="zendesk-widget-key" name="zendesk-widget-key"
                                   value="{{ g.settings.zendesk_widget_key }}">
                        </div>
                        <div class="form-group">
                            <label for="monolith-support-group-id">Monolith support group ID</label>
                            <input type="number" class="form-control" id="monolith-support-group-id" name="monolith-support-group-id"
                                   value="{{ g.settings.monolith_support_group_id }}">
                        </div>
                        <button type="submit" class="btn btn-outline-success">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
