{% extends 'one-up.html' %}

{% block main_content %}
    <div class="row pt-3">
        <div class="col-12">
            <h1 class="text-light">Opportunity debrief surveys</h1>
            <p class="text-light lead">for {{ 'everyone' if 'survey-admin' in g.permissions else g.email }}</p>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            <a class="btn btn-outline-light" href="{{ url_for('op_debrief_archive') }}">
                <span class="oi oi-box"></span>
                Archive
            </a>
            {% if 'survey-admin' in g.permissions %}
            <a class="btn btn-outline-light" href="{{ url_for('op_debrief_configure') }}">
                <span class="oi oi-cog"></span>
                Configure
            </a>
            {% endif %}
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            <div class="form-inline">
                <label class="sr-only" for="filter-input">Filter surveys</label>
                <input class="form-control" placeholder="Filter surveys..." id="filter-input" autofocus>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">

            <table class="table table-dark table-striped table-hover table-sm d-none d-sm-block">
                <thead>
                <tr>
                    {% if 'survey-admin' in g.permissions %}<th>Email</th>{% endif %}
                    <th>Opportunity Number</th>
                    <th>Opportunity Name</th>
                    <th>Role</th>
                    <th class="text-center">Opportunity Close Date</th>
                </tr>
                </thead>
                <tbody>
                {%  for s in g.surveys %}
                    <tr class="filter-candidate" data-filter-value="{{ s.filter_value }}" data-href="{{ url_for('op_debrief_survey', survey_id=s.id) }}">
                        {% if 'survey-admin' in g.permissions %}<td>{{ s.email }}</td>{% endif %}
                        <td>{{ s.opportunity_number }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.role }}</td>
                        <td class="text-center">{{ s.close_date }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="d-block d-sm-none">
            {% for s in g.surveys %}
                <div class="card text-light bg-dark border-light mb-2 filter-candidate" data-filter-value="{{ s.filter_value }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a class="card-link stretched-link text-light" href="{{ url_for('op_debrief_survey', survey_id=s.id) }}">{{ s.opportunity_number }}</a>
                        </h5>
                        <p class="card-text">{{ s.name }}</p>
                        <p class="card-text">{{ s.email }} / {{ s.role }}</p>
                        <p class="card-text">Opportunity closed {{ s.close_date }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='debounce-1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='filter.js') }}"></script>
    <script src="{{ url_for('static', filename='data-href-clickable.js') }}"></script>
{% endblock %}
