{% extends 'index.html' %}

{% block breadcrumb %}
    <a class="btn btn-outline-light" href="{{ url_for('competency') }}">
        <span class="oi oi-chevron-left"></span>
        <strong>Competency</strong>
    </a>
{% endblock %}

{% block main_content %}
    {% if (g.competency_scores | length) > 0 %}
        {% set last_score = g.competency_scores | sort(attribute='timestamp') | last %}
    {% else %}
        {% set last_score = {} %}
    {% endif %}

    <div class="row pt-3 text-light">
        <div class="col-4 col-xl-3">
            <h1 class="mb-4">Competency</h1>

            <ul class="nav nav-tabs mb-4">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ url_for('competency_scoring_employee', employee_id=g.employee.employee_id) }}">
                        Scoring
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('competency_planning_employee', employee_id=g.employee.employee_id) }}">
                        Planning
                    </a>
                </li>
            </ul>

            <form class="form-inline mb-3" id="form" action="{{ url_for('competency_planning_save_new') }}" method="post">
                <div class="form-group mb-2 mr-2">
                    <label for="select-employee" class="sr-only">Choose an employee</label>
                    <select class="custom-select" id="select-employee" name="employee-id" required>
                    {% for e in g.subordinates | sort(attribute='employee_name') %}
                        <option value="{{ e.employee_id }}" {{ 'selected' if e.employee_id == g.employee.employee_id }}
                                data-target="{{ url_for('competency_planning_employee', employee_id=e.employee_id) }}">
                            {{ e.employee_name }}
                        </option>
                    {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-outline-success mb-2 mr-2">Save plan</button>
            </form>

            <div>
                <p class="text font-italic">
                    {{ g.employee.job_title }}{% if last_score %}, last scored {{ last_score.timestamp.date() }}{% endif %}
                </p>
            </div>

            <nav class="nav nav-pills flex-column sticky-top pt-3">
                <a class="nav-link text-light active" data-toggle="pill" href="#summary">
                    <strong>Summary</strong>
                </a>
            {% for c in g.competencies | sort(attribute='name') %}
                <a class="nav-link text-light d-flex justify-content-between align-items-center"
                   data-toggle="pill" href="#competency-{{ c.id }}">
                    {{ c.name }}
                    <div>
                    {% for score in g.competency_scores | sort(reverse=True, attribute='timestamp') %}
                    {% if loop.first %}
                        {% if loop.nextitem %}
                            <span class="badge badge-secondary" title="{{ loop.nextitem.timestamp.date() }}">
                                {{ loop.nextitem.get(c.id) }}
                            </span>
                        {% endif %}
                        <span class="badge badge-light" title="{{ score.timestamp.date() }}">{{ score.get(c.id) }}</span>
                    {% endif %}
                    {% endfor %}
                    </div>
                </a>
            {% endfor %}
                <a class="nav-link text-light d-flex justify-content-between align-items-center">
                    <strong>Averages</strong>
                    <div>
                    {% for score in g.competency_scores | sort(reverse=True, attribute='timestamp') %}
                    {% if loop.first %}
                        {% if loop.nextitem %}
                            <span class="badge badge-secondary" title="{{ loop.nextitem.timestamp.date() }}">
                                {{ loop.nextitem.mean_score }}
                            </span>
                        {% endif %}
                        <span class="badge badge-light" title="{{ score.timestamp.date() }}">
                            {{ score.mean_score }}
                        </span>
                    {% endif %}
                    {% endfor %}
                    </div>
                </a>
            </nav>
        </div>

        <div class="col">
            <div class="tab-content">
                <div class="tab-pane show active" id="summary">
                    <h2>Summary</h2>
                    {% for c in g.competencies | sort(attribute='name') %}
                        <h4>{{ c.name }}</h4>
                        {% if g.competency_plans[c.id] %}
                            {{ g.competency_plans[c.id] | markdown }}
                        {% else %}
                            <p class="text-muted">(no plan)</p>
                        {% endif %}
                        {% if not loop.last %}<hr class="border-light">{% endif %}
                    {% endfor %}
                </div>
            {% for c in g.competencies | sort(attribute='name') %}
                {% set left_col = [last_score.get(c.id, -1), 4] | min %}
                <div class="tab-pane" id="competency-{{ c.id }}">
                    <h2>{{ c.name }}</h2>
                    <p>{{ c.definition }}</p>
                    {%  for l in g.levels %}
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input class="custom-control-input show-column-checkbox" type="checkbox"
                                   id="show-{{ c.id }}-{{ l.id }}" data-column-id="col-{{ c.id }}-{{ l.id }}"
                                   {{ 'checked' if l.score in (left_col, left_col + 1) }}>
                            <label class="custom-control-label" for="show-{{ c.id }}-{{ l.id }}">{{ l.title }}</label>
                        </div>
                    {% endfor %}
                    <div class="row pt-3">
                    {% for l in g.levels %}
                        <div class="col collapse score-column {{ 'show' if l.score in (left_col, left_col + 1) }}"
                             id="col-{{ c.id }}-{{ l.id }}">
                            <h3>{{ l.title }}</h3>
                            <p>{{ g.level_comp_details.get(l.id, {}).get(c.id, {}).description }}</p>
                            <ul>
                            {% for d in g.level_comp_details.get(l.id, {}).get(c.id, {}).details %}
                                <li>{{ d }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    </div>
                    <h4 class="pb-2">Progression plan</h4>
                    <div class="form-group">
                        <label for="plan-{{ c.id }}" class="sr-only">Progression plan</label>
                        <textarea form="form" class="form-control" id="plan-{{ c.id }}" name="plan-{{ c.id }}" rows="10">
                            {{- g.competency_plans[c.id] -}}
                        </textarea>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='competency/select-employee.js') }}"></script>
    <script src="{{ url_for('static', filename='competency/planning.js') }}"></script>
{% endblock %}
