{% extends 'competency/index.html' %}

{% set active_tab = 'planning' %}

{% block sub_content %}
    {% for c in g.competencies %}
        <div class="tab-pane {{ 'show active' if loop.first }}" id="{{ c.id }}">
            <h2>{{ c.display_name }}</h2>
            <p>{{ c.description }}</p>
            {% for level in c.levels %}
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input class="custom-control-input show-column-checkbox" type="checkbox"
                           id="show-{{ c.id }}-{{ level.score }}" data-column-id="{{ c.id }}-{{ level.score }}">
                    <label class="custom-control-label" for="show-{{ c.id }}-{{ level.score }}">
                        {{ level.title }}
                    </label>
                </div>
            {% endfor %}
            <div class="row pt-3">
            {% for level in c.levels %}
                <div class="col collapse score-column" id="{{ c.id }}-{{ level.score }}">
                    <h3>{{ level.title }}</h3>
                    <p>{{ level.description }}</p>
                    <ul>
                    {% for detail in level.details %}
                        <li>{{ detail }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endfor %}
            </div>
            <h4 class="pb-2">Progression plan</h4>
            <div class="form-group">
                <label for="{{ c.id }}-plan" class="sr-only">Progression plan</label>
                <textarea form="form" class="form-control" id="{{ c.id }}-plan" name="{{ c.id }}-plan" rows="10"></textarea>
            </div>
        </div>
    {% endfor %}

    {% for emp_id, plan in g.plans.items() %}
        <meta id="{{ emp_id }}-plan" data-technical-acumen="{{ plan.technical_acumen }}"
              data-domain-knowledge="{{ plan.domain_knowledge }}"
              data-discovery-and-qualification="{{ plan.discovery_and_qualification }}"
              data-teamwork-and-collaboration="{{ plan.teamwork_and_collaboration }}"
              data-leadership-skills="{{ plan.leadership_skills }}" data-communication="{{ plan.communication }}"
              data-planning-and-prioritization="{{ plan.planning_and_prioritization }}"
              data-customer-advocacy="{{ plan.customer_advocacy }}" data-attitude="{{ plan.attitude }}"
              data-corporate-citizenship="{{ plan.corporate_citizenship }}">
    {% endfor %}
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='sc-competency/planning.js') }}"></script>
{% endblock %}
