{% extends 'competency/employee.html' %}

{% set active_tab = 'scoring' %}

{% block sub_content %}
    {% for c in g.competencies %}
        <div class="tab-pane {{ 'show active' if loop.first }}" id="{{ c.id }}">
            <h2>{{ c.display_name }}</h2>
            <p>{{ c.description }}</p>
            {% for level in c.levels %}
            <div class="score-selection px-2 score-{{ level.score }}">
                <div class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" id="{{ c.id }}-{{ level.score }}"
                           name="{{ c.id }}" value="{{ level.score }}" form="form" required>
                    <label class="custom-control-label" for="{{ c.id }}-{{ level.score }}">
                        <strong>{{ level.title }} ({{ level.score }})</strong>
                    </label>
                    <ul class="ml-n4">
                    {% for d in level.details %}
                        <li>{{ d }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% if not loop.last %}<hr class="border-light">{% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='sc-competency/scoring.js') }}"></script>
{% endblock %}
