{% extends 'index.html' %}

{% block breadcrumb %}
    <a class="btn btn-outline-light" href="{{ url_for('competency_tracks') }}">
        <span class="oi oi-chevron-left"></span>
        <strong>Competency / Tracks</strong>
    </a>
{% endblock %}

{% block main_content %}
    <div class="row pt-3 text-light">
        <div class="col">
            <h1>{{ g.track.name }}</h1>
            <p class="lead">Track details</p>
        </div>
    </div>

    <div class="row pt-3 text-light">
        <div class="col">
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#modal-edit-track">
                <span class="oi oi-pencil"></span>
                Edit this track
            </button>
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal-create-level">
                <span class="oi oi-plus"></span>
                Create a new level
            </button>
        </div>
    </div>

    <div class="row pt-3 text-light">
        <div class="col">
            <div class="list-group">
            {% for l in g.levels %}
                <a class="list-group-item bg-dark border-light text-light text-decoration-none" href="{{ url_for('competency_levels_detail', level_id=l.id) }}"
                   data-score="{{ l.score }}">
                    <h5>{{ l.score }} / {{ l.title }}</h5>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal" id="modal-edit-track">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Edit this track</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="form-edit-track" action="{{ url_for('competency_tracks_edit') }}" method="post">
                        <input type="hidden" name="id" value="{{ g.track.id }}">
                        <div class="form-group">
                            <label for="name">Track name</label>
                            <input type="text" class="form-control" id="name" name="name" value="{{ g.track.name }}"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="description">Track description</label>
                            <input type="text" class="form-control" id="description" name="description"
                                   value="{{ g.track.description if g.track.description }}">
                        </div>
                        <hr class="border-light">
                        <h5>Competency definitions</h5>
                        <div class="form-group">
                            <label for="ta-description">Technical acumen</label>
                            <textarea class="form-control" id="ta-description" name="ta_description">
                                {{- g.track.ta_description if g.track.ta_description -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="dk-description">Domain knowledge</label>
                            <textarea class="form-control" id="dk-description" name="dk_description">
                                {{- g.track.dk_description if g.track.dk_description -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="dq-description">Discovery and qualification</label>
                            <textarea class="form-control" id="dq-description" name="dq_description">
                                {{- g.track.dq_description if g.track.dq_description -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="tc-description">Teamwork and collaboration</label>
                            <textarea class="form-control" id="tc-description" name="tc_description">
                                {{- g.track.tc_description if g.track.tc_description -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="ls-description">Leadership skills</label>
                            <textarea class="form-control" id="ls-description" name="ls_description">
                                {{- g.track.ls_description if g.track.ls_description -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="co-description">Communication</label>
                            <textarea class="form-control" id="co-description" name="co_description">
                                {{- g.track.co_description if g.track.co_description -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="pp-description">Planning and prioritization</label>
                            <textarea class="form-control" id="pp-description" name="pp_description">
                                {{- g.track.pp_description if g.track.pp_description -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="ca-description">Customer advocacy</label>
                            <textarea class="form-control" id="ca-description" name="ca_description">
                                {{- g.track.ca_description if g.track.ca_description -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="at-description">Attitude</label>
                            <textarea class="form-control" id="at-description" name="at_description">
                                {{- g.track.at_description if g.track.at_description -}}
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label for="cc-description">Corporate citizenship</label>
                            <textarea class="form-control" id="cc-description" name="cc_description">
                                {{- g.track.cc_description if g.track.cc_description -}}
                            </textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" form="form-edit-track">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-create-level">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Create a new level</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="form-add-level" action="{{ url_for('competency_levels_create') }}" method="post">
                        <input type="hidden" name="track-id" value="{{ g.track.id }}">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="score">Score</label>
                            <input type="number" class="form-control" id="score" name="score" min="1" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" form="form-add-level">Create</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='competency/tracks-detail.js') }}"></script>
{% endblock %}
