{% extends 'competency/breadcrumb.html' %}

{% block main_content %}
    <div class="row pt-3 text-light">
        <div class="col">
            <h1>Competency tracks</h1>
        </div>
    </div>

    <div class="row pt-3 text-light">
        <div class="col">
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal-create-track">
                <span class="oi oi-plus"></span>
                Create a new track
            </button>
            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#modal-migrate">
                <span class="oi oi-project"></span>
                Migrate old scores and plans
            </button>
        </div>
    </div>

    <div class="row pt-3 text-light">
        <div class="col">
            <div class="list-group">
            {% for t in g.tracks %}
                <a class="list-group-item bg-dark border-light text-light text-decoration-none"
                   href="{{ url_for('competency_tracks_detail', track_id=t.id) }}">
                    <h5>{{ t.name }}</h5>
                    <p>{{ t.description }}</p>
                    <p>Levels:
                    {% for level in t.levels %}
                        {{ level if level }}
                        {{ '&rarr;'|safe if not loop.last }}
                    {% else %}
                        no levels defined
                    {% endfor %}
                    </p>
                </a>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal" id="modal-create-track">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Create a new track</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="form-create-track" action="{{ url_for('competency_tracks_create') }}" method="post">
                        <div class="form-group">
                            <label for="name">Track name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Track description</label>
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" form="form-create-track">Create</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-migrate">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Migrate old scores and plans</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Choose a track to migrate old scores and plans to.</p>
                    <form id="form-migrate" action="{{ url_for('competency_migrate') }}" method="post">
                    {% for t in g.tracks %}
                        <div class="custom-control custom-radio">
                            <input type="radio" id="radio-{{ t.id }}" name="track-id" value="{{ t.id }}"
                                   class="custom-control-input" autocomplete="off" required>
                            <label class="custom-control-label" for="radio-{{ t.id }}">{{ t.name }}</label>
                        </div>
                    {% endfor %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" form="form-migrate" class="btn btn-outline-success">Migrate</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
