{% extends 'one-up.html' %}

{% block title %}Games / {{ super() }}{% endblock %}

{% block main_content %}
    <div class="row pt-3 justify-content-center text-light">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
            <h1>Games</h1>
        </div>
    </div>

    <div class="row pt-3 justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
            <div class="form-inline">
                <label class="sr-only" for="filter-input">Filter games</label>
                <input class="form-control" placeholder="Filter games..." id="filter-input" autofocus>
            </div>
        </div>
    </div>

    <div class="row pt-3 justify-content-center text-light">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
            <ul class="list-group">
            {% if 'games-admin' in g.permissions %}
                <li class="list-group-item bg-dark border-light d-flex justify-content-between align-items-center">
                    <em class="text-muted">Create a new game</em>
                    <button type="button" class="btn btn-outline-success" data-toggle="modal"
                            data-target="#modal-new-game">
                        <span class="oi oi-star"></span>
                        Create
                    </button>
                </li>
            {% endif %}
            {% for game in g.games %}
                <li class="list-group-item bg-dark border-light collapse show filter-candidate"
                    data-filter-value="{{ game.filter_value }}">
                    <div class="d-flex justify-content-between align-items-center">
                        {{ game.game_name }}
                        <div>
                            <a class="btn btn-outline-success" href="{{ url_for('games_play', game_id=game.game_id) }}">
                                <span class="oi oi-media-play"></span>
                                Play
                            </a>
                            {% if 'games-admin' in g.permissions %}
                                <a class="btn btn-outline-warning" href="{{ url_for('games_edit', game_id=game.game_id) }}">
                                    <span class="oi oi-pencil"></span>
                                    Edit
                                </a>
                                <a class="btn btn-outline-info" href="{{ url_for('games_monitor', game_id=game.game_id) }}">
                                    <span class="oi oi-eye"></span>
                                    Monitor
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="modal" id="modal-new-game">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Create a new game</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="form-new-game" action="{{ url_for('games_new') }}" method="post">
                        <div class="form-group">
                            <label for="new-game-name">Game name</label>
                            <input type="text" class="form-control" id="new-game-name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="new-game-intro">Introduction</label>
                            <textarea class="form-control" id="new-game-intro" name="intro"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="new-game-outro">Conclusion</label>
                            <textarea class="form-control" id="new-game-outro" name="outro"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="new-game-skip-code">Skip code</label>
                            <input type="text" class="form-control" id="new-game-skip-code" name="skip-code" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" form="form-new-game">Create</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
