{% extends 'index.html' %}

{% block title %}{{ g.game.game_name }} / Games / {{ super() }}{% endblock %}

{% block breadcrumb %}
    <a class="btn btn-outline-light" href="{{ url_for('games') }}">
        <span class="oi oi-chevron-left"></span>
        <strong>Games</strong>
    </a>
{% endblock %}

{% block main_content %}
    <div class="row pt-3 justify-content-center text-light">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
            <h1>{{ g.game.game_name }}</h1>
        </div>
    </div>

    <div class="row pt-3 justify-content-center text-light">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
        {% if g.show_intro %}
            {{ g.game.game_intro | markdown }}

            <p>Enter a team number and team name below. Your team number is provided by the game administrator.</p>

            <form action="{{ url_for('games_play_submit', game_id=g.game.game_id) }}" method="post">
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="team-number">Team number</label>
                            <input type="number" class="form-control" id="team-number" name="team-number" min="1"
                                   required autofocus>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="team-name">Team name</label>
                            <input type="text" class="form-control" id="team-name" name="team-name" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success">Begin</button>
            </form>
        {% elif g.show_outro %}
            <div class="d-flex justify-content-between">
                <h2>{{ g.team.team_name }}</h2>
                <button type="button" class="btn btn-outline-light" data-toggle="tooltip" data-placement="bottom"
                        title="Time spent in all steps" disabled>
                    <span class="oi oi-timer"></span>
                    <span class="text-monospace" id="completed-steps-elapsed-time"
                          data-timestamp="{{ (g.completed_step_time.total_seconds() * 1000) | int }}">--:--:--</span>
                </button>
            </div>
            <p class="lead">Team {{ g.team.team_number }}</p>

            {{ g.game.game_outro | markdown }}

            <h2 class="pb-3">Step overview</h2>

            <ul class="list-group mb-3">
            {% for p in g.progress %}
                <li class="list-group-item bg-dark border-light d-flex justify-content-between">
                    <h4>Step {{ p.step_number }}</h4>
                    <div>
                    {% if p.step_skipped %}
                        <button type="button" class="btn btn-outline-warning">
                            <span class="oi oi-action-redo"></span>
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-outline-success">
                            <span class="oi oi-check"></span>
                        </button>
                    {% endif %}
                        <button type="button" class="btn btn-outline-light" disabled>
                            <span class="oi oi-timer"></span>
                            <span class="text-monospace">{{ p.step_elapsed_time | hms }}</span>
                        </button>
                    </div>
                </li>
            {% endfor %}
            </ul>

        {% else %}
            <div class="d-flex justify-content-between">
                <h2 id="step-title" data-step-start-time="{{ (g.current_step.step_start_time.timestamp() * 1000) | int }}">
                    Step {{ g.current_step.step_number }}
                </h2>
                <button type="button" class="btn btn-outline-light" disabled>
                    <span class="oi oi-timer"></span>
                    <span class="text-monospace" id="completed-steps-elapsed-time" data-toggle="tooltip"
                          data-placement="bottom" title="Time spent in previous steps"
                          data-timestamp="{{ (g.completed_step_time.total_seconds() * 1000) | int }}">--:--:--</span>
                    +
                    <span class="text-monospace" id="step-elapsed-time" data-toggle="tooltip" data-placement="bottom"
                          title="Time spent in this step">--:--:--</span>
                </button>
            </div>

            {{ g.current_step.step_text | markdown }}

            <p>Enter your answer below.</p>
            <form action="{{ url_for('games_play_submit', game_id=g.game.game_id) }}" method="post">
                <div class="form-group">
                    <label for="answer">Answer</label>
                    <input type="text" class="form-control" id="answer" name="answer" required autofocus>
                </div>
                <button type="submit" class="btn btn-outline-success">Submit</button>
            </form>
        {% endif %}
        </div>
    </div>

    <div class="modal" id="modal-reset">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header">
                    <h5 class="modal-title">Reset this game</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Are you sure you want to reset your progress in this game? All step results will be deleted.
                </div>
                <div class="modal-footer">
                    <form action="{{ url_for('games_reset_progress') }}" method="post">
                        <input type="hidden" name="game-id" value="{{ g.game.game_id }}">
                        <button type="button" class="btn btn-outline-light" data-dismiss="modal">Keep progress</button>
                        <button type="submit" class="btn btn-outline-danger">Reset</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='enable-tooltips.js') }}"></script>
    <script src="{{ url_for('static', filename='games/play.js') }}"></script>
{% endblock %}
