.border-2 { border-width: 2px !important; }
.date-column { width: 100px; }
.max-width-600px { max-width: 600px; }
.min-width-115px { min-width: 115px; }

/* for displaying hosts file and machine id in environment detail pages */
.select-all { user-select: all; }

.text-all-small-caps { font-variant-caps: all-small-caps; }

/* for making just about anything look clickable (used on table rows in environment list and op-debrief) */
[data-href] { cursor: pointer; }
