.bump-top-padding {
    padding-top: 10px;
}

.date-column { width: 100px; }

.mw-800px { max-width: 800px; }

/* for displaying hosts file in environment detail pages */
.select-all {
    user-select: all;
}

/* for making just about anything clickable, see op-debrief */
[data-href] {
    cursor: pointer;
}
