{% extends 'one-up.html' %}

{% block title %}Ecosystem certification / {{ super() }}{% endblock %}

{% block main_content %}
    <div class="row pt-3 text-light">
        <div class="col-12">
            <h1>Ecosystem certification</h1>
        </div>
    </div>

    <div class="row pt-3 text-light">
        <div class="col-12 col-sm-11 col-md-9 col-lg-7 col-xl-6">
            <h2>Existing certifications</h2>
            <p class="lead">for {{ g.email }}</p>
            <ul class="list-group">
            {% for cert in g.certs %}
                <li class="list-group-item bg-dark border-light">
                    <div class="d-flex">
                        <h5 class="mr-2"><span class="badge badge-light">{{ cert.ecosystem }}</span></h5>
                        <h5 class="flex-grow-1 mr-2">{{ cert.title }}</h5>
                        <div class="align-self-start d-flex flex-nowrap">
                            <button type="button" class="btn btn-outline-light mr-1" title="Edit this certification">
                                <span class="oi oi-pencil"></span>
                            </button>
                            <form action="{{ url_for('ecosystem_certification_delete') }}" method="post">
                                <input type="hidden" name="cert-id" value="{{ cert.id }}">
                                <button type="submit" class="btn btn-outline-danger" title="Delete this certification">
                                    <span class="oi oi-trash"></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <p class="mb-1">
                        Approved:
                        {% if cert.approved_at %}
                            <span class="oi oi-check"></span> {{ cert.approved_at.date() }} by {{ cert.approved_by }}
                        {% else %}
                            <span class="oi oi-x"></span> No
                        {% endif %}
                    </p>
                    {% if cert.certification_date or cert.expiration_date %}
                        <p class="mb-1">Valid
                            {% if cert.certification_date %}from {{ cert.certification_date }}{% endif %}
                            {% if cert.expiration_date %}to {{ cert.expiration_date }}{% endif %}
                        </p>
                    {% endif %}
                    {% if cert.document_name %}
                        <small>
                            <a href="{{ url_for('ecosystem_certification_document', document_id=cert.id) }}" class="text-light">{{ cert.document_name }}</a>
                            ({{ cert.document_size | filesizeformat }})
                        </small>
                    {% endif %}
                </li>
            {% else %}
                <li class="list-group-item bg-dark border-light">No ecosystem certifications found</li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row pt-3 text-light">
        <div class="col-12 col-sm-11 col-md-9 col-lg-7 col-xl-6">
            <h2>Add a new certification</h2>
            <form action="{{ url_for('ecosystem_certification_add') }}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="ecosystem">Ecosystem</label>
                    <select class="custom-select" id="ecosystem" name="ecosystem" required>
                        <option hidden disabled value selected>-- select an option --</option>
                        <option value="aws">AWS</option>
                        <option value="azure">Azure</option>
                        <option value="gcp">GCP</option>
                        <option value="snowflake">Snowflake</option>
                    </select>
                </div>
                <div class="form-group collapse text-danger" id="aws-partner-portal-updated-wrapper">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="aws-partner-portal-updated"
                               name="aws-partner-portal-updated">
                        <label for="aws-partner-portal-updated" class="custom-control-label">
                            <strong>Did you update the AWS Partner Portal?</strong>
                        </label>
                        <a href="#" data-toggle="modal" data-target="#aws-partner-portal-instructions">Instructions</a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title">Certification title</label>
                    <select class="custom-select" id="title" name="title" required>
                        <option hidden disabled value selected>-- select an option --</option>
                        <option id="default-title-aws">AWS Certified Cloud Practitioner</option>
                        <option id="default-title-azure">Microsoft Certified: Azure Fundamentals</option>
                        <option id="default-title-gcp">Google Cloud Professional Cloud Architect</option>
                        <option id="default-title-snowflake">SnowPro Core Certification</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="form-group collapse" id="custom-title-wrapper">
                    <label class="sr-only" for="custom-title">Other certification title</label>
                    <input type="text" class="form-control" id="custom-title" name="custom-title"
                           placeholder="Enter a title ...">
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="date">Certification date</label>
                            <input type="date" class="form-control" id="date" name="date">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="expiration-date">Expiration date</label>
                            <input type="date" class="form-control" id="expiration-date" name="expiration-date">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="document">Certification document</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="document" name="document">
                        <label for="document" id="document-label" class="custom-file-label"
                               data-default-text="Choose a document ...">Choose a document ...</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-success">Add certification</button>
            </form>
        </div>
    </div>

    <div class="modal text-light" id="aws-partner-portal-instructions">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title">How to update the AWS Partner Portal</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p><strong class="text-danger">These steps are critical</strong> and affect Informatica&#x02bc;s
                        partner level with AWS.</p>
                    <ol>
                        <li>Identify the email address that is associated with your certification. This could be a
                            personal or company email address.</li>
                        <li>If you have not already, create an
                            <a href="https://partnercentral.awspartner.com/home" target="_blank">APN Partner Central</a>
                            account. Use your Informatica email address when you register.</li>
                        <li>In the left column, under <span class="text-all-small-caps">Quick Links</span>, select
                            <a href="https://partnercentral.awspartner.com/PartnerProfile" target="_blank">
                                View My Profile</a>.</li>
                        <li>In the &ldquo;AWS Certification&rdquo; section of your profile, verify the following:<br>
                            <ul>
                                <li><strong>AWS T&amp;C Account Email</strong> is the email address associated with your
                                    certification.</li>
                                <li><strong>I consent to share my AWS Certification with &ldquo;Informatica&rdquo;</strong>
                                    is <strong>Yes</strong>.</li>
                            </ul>
                            Edit your profile to change either of these settings.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='ecosystem-certification.js') }}"></script>
{% endblock %}
