<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='local.css') }}">
    <title>{% block title %}NA Presales Ops{% endblock %}</title>
    {% block end_of_head %}{% endblock %}
</head>
<body class="bg-dark">

<div class="container-fluid">
    <div class="row bump-top-padding">
        <div class="col-6">
            {% block breadcrumb %}
            <a class="btn btn-outline-light" href="#">
                <span class="oi oi-home"></span>
                <strong>Ops Web</strong>
            </a>
            {% endblock %}
        </div>
        <div class="col-6">
        {% block sign_in_out %}
            <a class="btn btn-outline-success float-right" href="{{ url_for('sign_in') }}">
                <span class="oi oi-person"></span>
                Sign in
            </a>
        {% endblock %}
        </div>
    </div>

    {% block main_content %}{% endblock %}

    <div class="row bump-top-padding pb-2">
        <div class="col-12">
            <hr class="border-light">
            <small class="text-muted">
                {{ g.config.version }}
                {% if g.config.debug_layout %}
                    <span class="d-inline d-sm-none">xs</span>
                    <span class="d-none d-sm-inline d-md-none">sm</span>
                    <span class="d-none d-md-inline d-lg-none">md</span>
                    <span class="d-none d-lg-inline d-xl-none">lg</span>
                    <span class="d-none d-xl-inline">xl</span>
                {% endif %}
            </small>
        </div>
    </div>

    <script src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.3.1.bundle.min.js') }}"></script>
    {% block end_of_body %}{% endblock %}
</div>

</body>
</html>
