{% extends 'one-up.html' %}

{% block title %}{{ super() }} / Environments{% endblock %}

{% block main_content %}
    <div class="row pt-3">
        <div class="col-12">
            <h1 class="text-light">Environments</h1>
            <div class="form-inline">
                <label class="sr-only" for="filter-input">Filter environments</label>
                <input class="form-control" placeholder="Filter environments..." id="filter-input" value="{{ g.default_filter if g.default_filter }}" autofocus>
            </div>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col-12">
            <table class="table table-dark table-striped table-hover table-sm d-none d-sm-block">
                <thead>
                <tr>
                    <th></th>
                    <th>Cloud</th>
                    <th>Environment</th>
                    <th>Owner</th>
                    <th class="text-right">30 Day Cost</th>
                    <th class="text-center">Running Time</th>
                    <th class="text-right">Machines</th>
                </tr>
                </thead>
                <tbody>
                {% for e in g.environments %}
                    <tr class="filter-candidate" data-filter-value="{{ e.filter_value }}" data-href="{{ url_for('environment_detail', environment=e.env_group) }}">
                        <td>
                            <span class="oi oi-media-record {{ 'text-success' if e.running else 'text-danger' }}"></span>
                        </td>
                        <td>{{ e.cloud }}</td>
                        <td>{{ e.env_group }}</td>
                        <td>{{ e.owner }}</td>
                        <td class="text-right {{ 'text-danger' if e.costsum >= 500 }}">$ {{ '%.2f' | format(e.costsum) }}</td>
                        <td class="text-center">{{ e.running_time_human }}</td>
                        <td class="text-right">{{ e.instance_count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="d-block d-sm-none">
            {% for e in g.environments %}
                <div class="card text-light bg-dark border-light mb-2 filter-candidate" data-filter-value="{{ e.filter_value }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            <span class="oi oi-media-record {{ 'text-success' if e.running else 'text-danger' }}"></span>
                            <a href="{{ url_for('environment_detail', environment=e.env_group) }}" class="card-link stretched-link text-light">{{ e.env_group }}</a>
                        </h5>
                        <p class="card-text">{{ e.owner }}</p>
                        <p class="card-text"><span class="badge badge-pill badge-light">{{ e.cloud }}</span> {{ e.instance_count }} machine{{ 's' if e.instance_count > 1 }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='debounce-1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='filter.js') }}"></script>
    <script src="{{ url_for('static', filename='data-href-clickable.js') }}"></script>
{% endblock %}
