{% extends 'one-up.html' %}

{% block main_content %}
    <div class="row bump-top-padding">
        <div class="col-12">
            <h1 class="text-light">Images</h1>
            <div class="form-inline">
                <label class="sr-only" for="filter-input"></label>
                <input class="form-control" placeholder="Filter images..." id="filter-input" autofocus>
            </div>
        </div>
    </div>

    <div class="row bump-top-padding">
        <div class="col-12">
            <table class="table table-dark table-striped table-sm d-none d-sm-block">
                <thead>
                <tr>
                    <th>Cloud</th>
                    <th>Region</th>
                    <th>Image name</th>
                    <th>Owner</th>
                    <th class="date-column">Created</th>
                    <th>Public</th>
                    <th>State</th>
                    <th>Source machine ID</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in g.images %}
                    <tr class="filter-candidate" data-filter-value="{{ i.filter_value }}">
                        <td>{{ i.cloud }}</td>
                        <td>{{ i.region }}</td>
                        <td class="text-truncate mw-800px" title="{{ i.name }}">{{ i.name }}</td>
                        <td>{{ i.owner }}</td>
                        <td>{{ i.created.date() if i.created }}</td>
                        <td>{{ i.image_public }}</td>
                        <td>{{ i.state }}</td>
                        <td class="text-truncate">{{ i.instanceid if i.instanceid.startswith('i-') }}</td>
                        <td>
                        {% if i.cloud == 'aws' and i.state == 'available' and i.image_public =='true'%}
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-sm btn-outline-light" data-toggle="modal" data-target="#modal-instcreate-{{ loop.index }}" title="Launch image">
                                    <span class="oi oi-media-play"></span>
                                </button>
                            </div>
                        {% endif %}
                            <a class="btn btn-sm btn-outline-light" href="mailto:{{ g.config.support_email }}?subject=Delete image request&body=Please delete image {{ i.id }}" title="Delete image">
                                <span class="oi oi-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="d-block d-sm-none">
            {% for i in g.images %}
                <div class="card text-light bg-dark border-light mb-2 filter-candidate" data-filter-value="{{ i.filter_value }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.name }}</h5>
                        <p class="card-text">
                            <span class="badge badge-light">Cloud: {{ i.cloud }}</span>
                            <span class="badge badge-light">Region: {{ i.region }}</span>
                            <span class="badge badge-light">Owner: {{ i.owner }}</span>
                            <span class="badge badge-light">Created: {{ i.created.date() if i.created }}</span>
                            <span class="badge badge-light">State: {{ i.state }}</span>
                            <span class="badge badge-light">Source machine ID: {{ i.instanceid if i.instanceid.startswith('i-') }}</span>
                        </p>
                        {% if i.cloud == 'aws' and i.state == 'available' and i.image_public=='true' %}
                        <button type="button" class="btn btn-outline-light mb-2" data-toggle="modal" data-target="#modal-instcreate-{{ loop.index }}">
                            <span class="oi oi-media-play"></span>
                            Launch image
                        </button>
                        {% endif %}
                        <a class="btn btn-outline-light mb-2" href="mailto:{{ g.config.support_email }}?subject=Delete image request&body=Please delete image {{ i.id }}">
                            <span class="oi oi-trash"></span>
                            Delete image
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>

    {% for i in g.images %}
    <div class="modal" id="modal-instcreate-{{ loop.index }}">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-light">Launch image</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p class="text-light">Do you want to launch a new machine from this image?</p>
                    <form id="form-instcreate-{{ loop.index }}" action="{{ url_for('machine_create')}}" method="post">
                        <input type="hidden" name="image-id" value="{{i.id}}">
                        <input type="hidden" name="instance-id" value="{{i.instanceid}}">
                        <input type="hidden" name="region" value="{{i.region}}">
                        <div class="form-group">
                            <label for="form-image-{{ loop.index }}-name" class="text-light">New machine name</label>
                            <input type="text" class="form-control" id="form-image-{{ loop.index }}-name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="form-image-{{ loop.index }}-owner" class="text-light">Owner</label>
                            <input type="text" class="form-control" id="form-image-{{ loop.index }}-owner" name="owner" value="{{ i.owner }}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-success" form="form-instcreate-{{ loop.index }}">Launch</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='debounce-1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='filter.js') }}"></script>
{% endblock %}
