{% extends 'base.html' %}

{% block end_of_head %}
    <meta id="signed-in-email" content="{{ g.email }}">
{% endblock %}

{% block sign_in_out %}
    <a class="btn btn-outline-danger float-right" href="{{ url_for('sign_out') }}" title="Signed in as {{ g.email }}">
        <span class="oi oi-person"></span>
        Sign out
    </a>
{% endblock %}

{% block main_content %}
    <div class="row pt-3">
        <div class="col-12">
            <div class="form-inline">
                <label class="sr-only" for="filter-input">Find a tool</label>
                <input class="form-control" placeholder="Find a tool ..." id="filter-input" autofocus>
            </div>
        </div>
    </div>

    <div class="row pt-3 text-light row-cols-1 row-cols-sm-2 row-cols-lg-3">
        <div class="col pb-3 filter-candidate collapse show" data-filter-value="environments">
            <div class="card h-100 bg-dark border-light">
                <div class="card-body">
                    <h5 class="card-title">Environments</h5>
                    <a href="{{ url_for('environments') }}" class="card-link stretched-link text-light">
                        View your existing environments.
                    </a>
                </div>
            </div>
        </div>

        <div class="col pb-3  filter-candidate collapse show" data-filter-value="images">
            <div class="card h-100 bg-dark border-light">
                <div class="card-body">
                    <h5 class="card-title">Images</h5>
                    <a href="{{ url_for('images') }}" class="card-link stretched-link text-light">
                        View your existing images.
                    </a>
                </div>
            </div>
        </div>

        {% if g.settings.show_security_groups_link %}
            <div class="col pb-3 filter-candidate collapse show" data-filter-value="security groups">
                <div class="card h-100 bg-dark border-light">
                    <div class="card-body">
                        <h5 class="card-title">Security groups</h5>
                        <a href="{{ url_for('security_groups') }}" class="card-link stretched-link text-light">
                            View and manage your security groups.
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if g.settings.show_op_debrief_survey_link %}
            <div class="col pb-3 filter-candidate collapse show" data-filter-value="opportunity debrief surveys">
                <div class="card h-100 bg-dark border-light">
                    <div class="card-body">
                        <h5 class="card-title">Opportunity debrief surveys</h5>
                        <a href="{{ url_for('op_debrief') }}" class="card-link stretched-link text-light">
                            View your opportunity debrief surveys.
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col pb-3 filter-candidate collapse show" data-filter-value="sync information">
            <div class="card h-100 bg-dark border-light">
                <div class="card-body">
                    <h5 class="card-title">Sync information</h5>
                    <a href="{{ url_for('sync_info') }}" class="card-link stretched-link text-light">
                        Check the status of data synchronization with cloud providers.
                    </a>
                </div>
            </div>
        </div>

        {% if g.settings.show_sap_access_link %}
            <div class="col pb-3 filter-candidate collapse show" data-filter-value="sap access">
                <div class="card h-100 bg-dark border-light">
                    <div class="card-body">
                        <h5 class="card-title">SAP access</h5>
                        <a href="{{ url_for('sap_access') }}" class="card-link stretched-link text-light">
                            Grant or revoke SAP access for your environments.
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if g.settings.show_sc_assignments_link %}
        <div class="col pb-3 filter-candidate collapse show" data-filter-value="sc sales consultant assignments">
            <div class="card h-100 bg-dark border-light">
                <div class="card-body">
                    <h5 class="card-title">Sales Consultant assignments</h5>
                    <a href="{{ url_for('sc_assignments_sales_reps') }}" class="card-link stretched-link text-light">
                        View and manage Sales Consultant assignments to Sales Reps.
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if g.settings.show_sc_competency_link %}
        <div class="col pb-3 filter-candidate collapse show" data-filter-value="sc competency">
            <div class="card h-100 bg-dark border-light">
                <div class="card-body">
                    <h5 class="card-title">SC Competency</h5>
                    <a href="{{ url_for('sc_competency') }}" class="card-link stretched-link text-light">
                        Track SC Competency scores.
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if 'cert-approval' in g.permissions %}
        <div class="col pb-3 filter-candidate collapse show" data-filter-value="ecosystem certification">
            <div class="card h-100 bg-dark border-light">
                <div class="card-body">
                    <h5 class="card-title">Ecosystem certification</h5>
                    <a href="{{ url_for('ecosystem_certification') }}" class="card-link stretched-link text-light">
                        Record your certifications for AWS, Azure, and other cloud ecosystems.
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col pb-3 filter-candidate collapse show" data-filter-value="external links">
            <div class="card h-100 bg-dark border-light">
                <div class="card-body">
                    <h5 class="card-title">External links</h5>
                    <a href="{{ url_for('external_links') }}" class="card-link stretched-link text-light">
                        Links to external locations.
                    </a>
                </div>
            </div>
        </div>

        {% if 'manager' in g.permissions or g.is_manager %}
        <div class="col pb-3 filter-candidate collapse show" data-filter-value="manager toolbox">
            <div class="card h-100 bg-dark border-light">
                <div class="card-body">
                    <h5 class="card-title">Manager toolbox</h5>
                    <a href="{{ url_for('manager_toolbox') }}" class="card-link stretched-link text-light">
                        Miscellaneous tools specifically for managers.
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if g.settings.show_seas_request_link %}
        <div class="col pb-3 filter-candidate collapse show" data-filter-value="seas strategic ecosystem architecture solutions request">
            <div class="card h-100 bg-dark border-light">
                <div class="card-body">
                    <h5 class="card-title">Strategic Ecosystem Architecture Solutions request</h5>
                    <a href="{{ url_for('seas_request') }}" class="card-link stretched-link text-light">
                        Request Marketing, Product, GSI, Ecosystem Vendor and Field Enablement Ecosystem Architecture support.
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if g.settings.show_monolith_request_link %}
        <div class="col pb-3 filter-candidate collapse show" data-filter-value="unity request">
            <div class="card h-100 bg-dark border-light">
                <div class="card-body">
                    <h5 class="card-title">Unity request</h5>
                    <a href="{{ url_for('unity_request') }}" class="card-link stretched-link text-light">
                        Report a problem with or request a change to the Unity Global Demo Environment.
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if 'admin' in g.permissions %}
            <div class="col pb-3 filter-candidate collapse show" data-filter-value="toolbox">
                <div class="card h-100 bg-dark border-light">
                    <div class="card-body">
                        <h5 class="card-title">Toolbox</h5>
                        <a href="{{ url_for('toolbox') }}" class="card-link stretched-link text-light">
                            Various tools for admins.
                        </a>
                    </div>
                </div>
            </div>

            <div class="col pb-3 filter-candidate collapse show" data-filter-value="administration">
                <div class="card h-100 bg-dark border-light">
                    <div class="card-body">
                        <h5 class="card-title">Administration</h5>
                        <a href="{{ url_for('admin') }}" class="card-link stretched-link text-light">
                            Change user permissions, cloud credentials, and other settings.
                        </a>
                    </div>
                </div>
            </div>

            <div class="col pb-3 filter-candidate collapse show" data-filter-value="audit log">
                <div class="card h-100 bg-dark border-light">
                    <div class="card-body">
                        <h5 class="card-title">Audit log</h5>
                        <a href="{{ url_for('audit_log') }}" class="card-link stretched-link text-light">
                            View the audit log.
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    {% if g.settings.zendesk_widget_key %}
        <script id="ze-snippet"
                src="https://static.zdassets.com/ekr/snippet.js?key={{ g.settings.zendesk_widget_key }}"></script>
        <script src="{{ url_for('static', filename='zendesk-widget-setup.js') }}"></script>
    {% endif %}
    <script src="{{ url_for('static', filename='debounce-1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='filter.js') }}"></script>
{% endblock %}
