{% extends 'index.html' %}

{% block breadcrumb %}
    <a class="btn btn-outline-light" href="{{ url_for('op_debrief') }}">
        <span class="oi oi-chevron-left"></span>
        <strong>Surveys</strong>
    </a>
{% endblock %}

{% block main_content %}
    <div class="row bump-top-padding">
        <div class="col-12">
            <h1 class="text-light">Opportunity debrief survey</h1>
            <p class="text-light lead">{{ g.survey.opportunity_number }} / {{ g.survey.email }}</p>
        </div>
    </div>

    <div class="row bump-top-padding">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            {% if g.survey.email != g.email %}
                <div class="alert alert-warning">You are viewing someone else&#x02bc;s survey.</div>
            {% endif %}
            {% if g.survey.completed %}
                <div class="alert alert-primary">This survey was completed on {{ g.survey.completed.strftime('%Y-%m-%d') }}.</div>
            {% endif %}
            <div class="card text-light bg-dark border-light mb-3">
                <div class="card-header">
                    <h5 class="card-title">
                        Opportunity details
                        <a class="text-light float-right btn btn-sm btn-outline-light" data-toggle="collapse" href="#opportunity-details-body">
                            <span id="opportunity-details-toggle-text">hide</span>
                        </a>
                    </h5>
                </div>
                <div class="card-body collapse show" id="opportunity-details-body">
                    <dl>
                        <dt>Account name</dt>
                        <dd>{{ g.survey.account_name }}</dd>
                        <dt>Opportunity name</dt>
                        <dd>{{ g.survey.opportunity_name }}</dd>
                        <dt>Opportunity number</dt>
                        <dd>{{ g.survey.opportunity_number }}</dd>
                        <dt>Opportunity closed</dt>
                        <dd>{{ g.survey.close_date.strftime('%Y-%m-%d') }}</dd>
                        <dt>Technology ecosystem</dt>
                        <dd>{{ g.survey.technology_ecosystem }}</dd>
                        <dt>Sales journey</dt>
                        <dd>{{ g.survey.sales_journey }}</dd>
                        <dt>Competitors</dt>
                        <dd>{{ g.survey.competitors }}</dd>
                        <dt>Your role</dt>
                        <dd>{{ g.survey.role }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="row bump-top-padding">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            <form method="post" class="text-light">
                <div class="form-group">
                    <h5>Primary loss reason</h5>
                    {% for k, v in g.template.plr_options.items() %}
                        <div class="custom-control custom-radio">
                            <input class="custom-control-input" type="radio" name="primary-loss-reason" id="plr-{{ k }}" value="{{ k }}" required {{ 'checked' if g.survey.primary_loss_reason == k }} {{ 'disabled' if g.survey.completed }}>
                            <label class="custom-control-label" for="plr-{{ k }}">{{ v }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="collapse show-on-tech-gap {{ 'show' if g.survey.primary_loss_reason == 'competitive-loss-tech' }}">
                    <div class="form-group">
                        <h5>Technology gap type</h5>
                        <div class="row">
                        {% for k, v in g.template.tech_gap_categories.items() %}
                            <div class="form-group col-6">
                            <h6>{{ v }}</h6>
                            {% for o_k, o_v in g.template.tech_gap_options.items() %}
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="tg-{{ k }}-{{ o_k }}" name="tech-gap-type" value="tg-{{ k }}-{{ o_k }}">
                                    <label class="custom-control-label" for="tg-{{ k }}-{{ o_k }}">{{ o_v }}</label>
                                </div>
                            {% endfor %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>Who did you engage to escalate and manage the technology gap?</h5>
                        {% for k, v in g.template.who_engaged_options.items() %}
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="{{ k }}" name="who-engaged" value="{{ k }}">
                                <label class="custom-control-label" for="{{ k }}">{{ v }}</label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <h5>Which of these validation activities were used?</h5>
                    {% for k, v in g.template.validation_activities.items() %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{ k }}" name="validation-activities" value="{{ k }}">
                            <label class="custom-control-label" for="{{ k }}">{{ v }}</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="collapse show-on-did-poc {{ 'show' if g.survey.did_poc }}">
                    <div class="form-group">
                        <h5>What was the outcome of the POC?</h5>
                        {% for k, v in g.template.poc_outcomes.items() %}
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" type="radio" name="poc-outcome" id="poc-outcome-{{ k }}" value="{{ k }}" {{ 'checked' if g.survey.poc_outcome == k }}>
                                <label class="custom-control-label" for="poc-outcome-{{ k }}">{{ v }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="collapse show-on-bad-poc">
                        <div class="form-group">
                            <h5>Why did the POC fail?</h5>
                            {% for k, v in g.template.poc_failure_reasons.items() %}
                                <div class="custom-control custom-radio">
                                    <input class="custom-control-input" type="radio" name="poc-failure-reason" id="poc-failure-reason-{{ k }}" {{ 'checked' if g.survey.poc_failure_reason == k }}>
                                    <label class="custom-control-label" for="poc-failure-reason-{{ k }}">{{ v }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <h5>Which contacts did you work with the closest?</h5>
                    {% for c in g.op_contacts %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="op-contact-{{ c.contact_key }}" name="close-contacts" value="{{ c.contact_key }}">
                            <label class="custom-control-label" for="op-contact-{{ c.contact_key }}">
                                {{ c.name }}, {{ c.title if c.title else 'No title' }}<br>
                                <span class="text-secondary">({{ c.phone if c.phone else 'no phone' }} / {{ c.email if c.email else 'no email' }})</span>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-outline-success" {% if g.survey.completed %}disabled title="This survey was completed on {{ g.survey.completed.strftime('%Y-%m-%d') }}."{% endif %}>
                    Submit
                </button>
            </form>
        </div>
    </div>
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='op-debrief-survey.js') }}"></script>
{% endblock %}
