{% extends 'one-up.html' %}

{% block main_content %}
    <div class="row bump-top-padding">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
            <h1 class="text-light">Aws Launch Machines</h1>
        </div>
    </div>
        <div class="row bump-top-padding">
        <div class="col-12">

            <div class="form-inline">
                <label class="sr-only" for="filter-input"></label>
                <form id="form1" action="{{ url_for('ws_postdep_filter') }}" method="post">
                    <input type="text" placeholder="Environment Group Name...." title="Give the environment group name you want to perform the post deployment tasks." style="width: 450px;" name = "env_group_name">
                </form>
            </div>
        </div>
    </div>

    <body>
    <div class="row bump-top-padding">
        <div class="col-12">
            <table class="table table-dark table-striped d-none d-md-block">
                <thead>
                <tr>
                    <th>InstanceID</th>
                    <th>cloud</th>
                    <th>Name</th>
                    <th>publicIP</th>
                    <th></th>
                </tr>
                </thead>
                {% for i in instance %}
                    <tr>
                        <td>{{ i.id }}</td>
                        <td>{{ i.cloud }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.public_ip }}</td>
                    </tr>
                {% endfor %}
            </table>
            <form class="form-inline" method="post" id="form-power-control">
                <input type="hidden" name="instance" value="{{ idlist }}">
            </form>
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-allocateip"
                    title="Allocate elastic ip">
                Allocate Elastic IP
            </button>
             <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-synchosts"
                    title="Sync hosts">
                Sync Hosts
            </button>
        </div>
    </div>


    <div class="modal" id="modal-allocateip">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-light">Allocates Elastic Ip</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                   <p class="text-light">Allocates elastic IP to only Windows Machines</p>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-success" form="form-power-control" formaction="{{ url_for('elasticip') }}"
                            method="post">AllocateIp
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modal-synchosts">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                 <div class="modal-header">
                    <h5 class="modal-title text-light">Update host file entries</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p class="text-light">Wait for atleast 10 minutes after launching the instances before updating the hosts</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-success" form="form-power-control" formaction="{{ url_for('synchosts') }}"
                            method="post">Sync Hosts
                    </button>
                </div>
            </div>
        </div>
    </div>

    </body>


{% endblock %}