{% extends 'one-up.html' %}

{% block main_content %}
    <div class="row bump-top-padding">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
            <h1 class="text-light">Toolbox</h1>
        </div>
    </div>

    <div class="row bump-top-padding">
        <div class="col-12">
            <div class="card-deck">
                <div class="card bg-dark border-light text-light">
                    <div class="card-body">
                        <h5 class="card-title">Delete image</h5>
                        <a class="card-link stretched-link text-light" href="#modal-delete-image" data-toggle="modal">Delete an image, including underlying snapshots</a>
                    </div>
                </div>
                <div class="card bg-dark border-light text-light">
                    <div class="card-body">
                        <h5 class="card-title">Workshop Creator</h5>
{#                        <a class="card-link stretched-link text-light" href="#modal-ws-creator">Workshop Creator</a>#}
                        <a href="{{ url_for('wscreator') }}" class="card-link stretched-link text-light">env creator</a>
                    </div>
                </div>
                <div class="card bg-dark border-light text-light">
                    <div class="card-body">
                        <h5 class="card-title">Placeholder</h5>
                        <a class="card-link stretched-link text-light" href="#">Space for a new tool</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-delete-image">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title text-light">Delete image</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p class="text-light">This will delete an image and clean up any underlying snapshots automatically. AWS only at the moment.</p>
                    <form id="form-delete-image" action="{{ url_for('image_delete') }}" method="post">
                        <div class="form-group">
                            <label for="image-id" class="text-light">Image ID</label>
                            <input type="text" class="form-control" id="image-id" name="image-id" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-danger" form="form-delete-image">
                        <span class="oi oi-trash"></span>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
