{% extends 'one-up.html' %}

{% block main_content %}
    <div class="row bump-top-padding">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
            <h1 class="text-light">Workshop Launcher</h1>
        </div>
    </div>

    <div class="row bump-top-padding">
        <div class="col-12">

            <h2 class="text-light">Select the workshop you want to launch.</h2>
            <form id="form1" action="{{ url_for('wsimage') }}" method="post">
                <select id="tvalue" name="ws">
                    <option value="EDC">EDC</option>
                    <option value="CDW">CDW</option>
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>
        <div id="result">
            {% if ws is defined %}
                <form id="form2" action="{{ url_for('launch') }}" method="post">
                <input type="hidden" name="machine-id" value="{{ ws }}">
                <input type="hidden" name="id" value="{{ id }}">

                <div class="row bump-top-padding">
                    <div class="col-12">
                        <table class="table table-dark table-striped d-none d-md-block">
                                              <thead>
                <tr>
                    <th>InstanceID</th>
                    <th>cloud</th>
                    <th>PrimaryProduct</th>
                    <th>Hostname</th>
                    <th>Created</th>
                    <th>SshUser</th>
                    <th></th>
                </tr>
                </thead>
                            {% for i in ws %}
                                <tr>
                                    <td>{{ i.id }}</td>
                                    <td>{{ i.cloud }}</td>
                                    <td>{{ i.primary_product }}</td>
                                    <td>{{ i.host_name }}</td>
                                    <td>{{ i.created }}</td>
                                    <td>{{ i.ssh_user }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <br>
                <h2 class="text-light">Give the following information</h2>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="form-event-name" class="text-light">Event Type</label>
                        <input type="text" class="form-control" id="event_type" name="event_type" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-customer" class="text-light">Customer</label>
                        <input type="text" class="form-control" id="customer" name="customer">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="form-owner-email" class="text-light">Owner Email</label>
                        <input type="text" class="form-control" id="owner_email" name="owner_email"
                               value="@informatica.com" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="form-envrole" class="text-light">Env Role</label>
                        <select id="env" name="env" class="form-control">
                            <option value="Production">Production</option>
                            <option value="Practice">Practice</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="form-quantity" class="text-light">Quantity</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" required>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="form-whitelistid" class="text-light">Whitelist SGID</label>
                        <input type="text" class="form-control" name="whitelist" id="whitelist">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-subnet" class="text-light">Subnet</label>
                        <input type="text" class="form-control" id="subnet" name="subnet"
                               value="subnet-08f2c346c07e6c1ea">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="form-security_groups" class="text-light">Security Groups</label>
                        <input type="text" class="form-control" id="security_groups" name="security_groups"
                               value="sg-0787d7efcdab27769,sg-0625a656c3abf3c6b">
                    </div>
                </div>
                <input type="submit" value="Launch">
            {% endif %}
            </form>
        </div>
    </div>
{% endblock %}