{% extends 'one-up.html' %}

{% block title %}{{ super() }} / SC assignments{% endblock %}

{% block main_content %}
    <div class="row pt-3">
        <div class="col-12">
            <h1 class="text-light">SC assignments</h1>
        </div>
    </div>

    {% block sub_content %}{% endblock %}
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='debounce-1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='filter.js') }}"></script>
    <script src="{{ url_for('static', filename='rep-sc-pairs.js') }}"></script>
{% endblock %}
