{% extends 'sc-assignments/index.html' %}

{% set active_tab = 'regional-advisors' %}

{% block title %}Regional advisors / {{ super() }}{% endblock %}

{% block sub_content %}
    <div class="row pt-3">
        <div class="col-12">
            <div class="form-inline">
                <label for="filter-input" class="sr-only">Filter input</label>
                <input class="form-control mr-2 mb-2" placeholder="Filter sales consultants ..." id="filter-input" autofocus>
            </div>
        </div>
    </div>

    <div class="row pt-3 text-light">
        <div class="col-12">
            <table class="table table-dark table-striped table-hover table-sm d-block">
                <thead>
                <tr>
                    <th>Sales consultant</th>
                    <th>Manager</th>
                    <th>Regional advisor</th>
                </tr>
                </thead>
                <tbody>
                {% for a in g.assignments %}
                    <tr class="filter-candidate collapse show" data-filter-value="{{ a.filter_value }}"
                        {% if 'sc-assignments' in g.permissions %}role="button" data-toggle="modal"{% endif %}
                        data-target="#modal-edit" data-sc-employee-name="{{ a.sc_employee_name }}"
                        data-sc-employee-id="{{ a.sc_employee_id }}" data-ra-employee-id="{{ a.ra_employee_id }}">
                        <td>{{ a.sc_employee_name }}</td>
                        <td>{{ a.sc_manager_name }}</td>
                        <td>{{ a.ra_employee_name if a.ra_employee_id }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal text-light" id="modal-edit">
        <div class="modal-dialog">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title">Regional advisor assignment</h5>
                    <button type="button" class="close text-light" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="form-edit" action="{{ url_for('sc_assignments_regional_advisors_edit') }}" method="post">
                        <input type="hidden" id="sc-employee-id" name="sc-employee-id">
                        <div class="form-group">
                            <label for="sc-employee-name">Sales consultant</label>
                            <input type="text" class="form-control" id="sc-employee-name" name="sc-employee-name" readonly>
                        </div>
                        <div class="form-group">
                            <label for="ra-employee-id">Regional advisor</label>
                            <select class="custom-select" name="ra-employee-id" id="ra-employee-id">
                                <option value="none">-- none --</option>
                                {% for ra in g.regional_advisors %}
                                    <option value="{{ ra.employee_id }}">{{ ra.employee_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-outline-success" form="form-edit"
                        {% if 'sc-assignments' not in g.permissions %}disabled title="You do not have permission to save changes." {% endif %}>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='sc-assignments/regional-advisors.js') }}"></script>
{% endblock %}
